.section {
  &__global {
    background-image: url("../img/global-section/image01.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    background-attachment: fixed;
    @include xs {
      background-attachment: scroll;
      padding: 120px 0px 50px 0px;
      min-height: 100%;
    }
  }
  &__global-second {
    background-image: url("../img/global-section/image02.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    background-attachment: fixed;
    @include xs {
      background-attachment: scroll;
      padding: 120px 0px 50px 0px;
      min-height: 100%;
    }
  }
  &__global-three {
    background-image: url("../img/global-section/image03.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    background-attachment: fixed;
    @include xs {
      background-attachment: scroll;
      padding: 120px 0px 50px 0px;
      min-height: 100%;
    }
  }
}
.global-section {
  &__container {
    max-width: 1360px;
  }
  &__items {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    @include xs {
      min-height: 100%;
    }
  }
  &__box {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 30px;
  }

  &__content {
    max-width: 300px;
  }

  &__title {
    line-height: 143%;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $primary;
  }

  &__subtitle {
    line-height: 143%;
    color: $secondary;
  }

  &__row {
    display: flex;
    gap: 16px;
  }

  &__item {
    display: flex;
    gap: 7px;
  }

  &__text {
    font-size: 12px;
    line-height: 100%;
    color: $primary;
  }
}
